In [1]:
import pandas as pd
import matplotlib.pyplot  as plt
import numpy as np
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
from sklearn.linear_model import Ridge, Lasso, LinearRegression
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

In [8]:
dataset = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/00374/energydata_complete.csv")
dataset.head()

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [9]:
dataset.describe()

,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
count,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,...,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000
mean,97.694958,3.801875,21.686571,40.259739,20.341219,40.420420,22.267611,39.242500,20.855335,39.026904,...,19.485828,41.552401,7.411665,755.522602,79.750418,4.039752,38.330834,3.760707,24.988033,24.988033
std,102.524891,7.935988,1.606066,3.979299,2.192974,4.069813,2.006111,3.254576,2.042884,4.341321,...,2.014712,4.151497,5.317409,7.399441,14.901088,2.451221,11.794719,4.194648,14.496634,14.496634
min,10.000000,0.000000,16.790000,27.023333,16.100000,20.463333,17.200000,28.766667,15.100000,27.660000,...,14.890000,29.166667,-5.000000,729.300000,24.000000,0.000000,1.000000,-6.600000,0.005322,0.005322
25%,50.000000,0.000000,20.760000,37.333333,18.790000,37.900000,20.790000,36.900000,19.530000,35.530000,...,18.000000,38.500000,3.666667,750.933333,70.333333,2.000000,29.000000,0.900000,12.497889,12.497889
50%,60.000000,0.000000,21.600000,39.656667,20.000000,40.500000,22.100000,38.530000,20.666667,38.400000,...,19.390000,40.900000,6.916667,756.100000,83.666667,3.666667,40.000000,3.433333,24.897653,24.897653
75%,100.000000,0.000000,22.600000,43.066667,21.500000,43.260000,23.290000,41.760000,22.100000,42.156667,...,20.600000,44.338095,10.408333,760.933333,91.666667,5.500000,40.000000,6.566667,37.583769,37.583769
max,1080.000000,70.000000,26.260000,63.360000,29.856667,56.026667,29.236000,50.163333,26.200000,51.090000,...,24.500000,53.326667,26.100000,772.300000,100.000000,14.000000,66.000000,15.500000,49.996530,49.996530

In [11]:
dataset.shape

(19735, 29)

In [12]:
dataset.columns

Index(['date', 'Appliances', 'lights', 'T1', 'RH_1', 'T2', 'RH_2', 'T3',
       'RH_3', 'T4', 'RH_4', 'T5', 'RH_5', 'T6', 'RH_6', 'T7', 'RH_7', 'T8',
       'RH_8', 'T9', 'RH_9', 'T_out', 'Press_mm_hg', 'RH_out', 'Windspeed',
       'Visibility', 'Tdewpoint', 'rv1', 'rv2'],
      dtype='object')

In [13]:
dataset_new=dataset.drop(['date','lights'],axis=1)
dataset_new.head()

,Appliances,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,T5,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,60,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,45.566667,17.166667,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,60,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,45.992500,17.166667,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,50,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,45.890000,17.166667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,50,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,45.723333,17.166667,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,60,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,45.530000,17.200000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [14]:
scaler=MinMaxScaler()
normalised_dataset_new= pd.DataFrame(scaler.fit_transform(dataset_new), columns=dataset_new.columns)

In [15]:
X=normalised_dataset_new.drop(['Appliances'], axis=1)
y=normalised_dataset_new['Appliances']

In [16]:
x_train,x_test,y_train,y_test = train_test_split(X,y,test_size=0.3,random_state=42)

In [18]:
#question 12
traint2 = x_train[['T2']]
traint6 = x_train[['T6']]
testt2 = x_test[['T2']]
testt6 = x_test[['T6']]

In [20]:
linearmodel = LinearRegression()
linearmodel.fit(traint2,traint6)
pred = linearmodel.predict(testt2)

In [21]:
#Calculate the r2 score 
r2_value = round(r2_score(testt6,pred),2)
r2_value

0.64

In [22]:
#question 13
#MAE
linearmodel
linearmodel.fit(x_train,y_train)
predicted_val=linearmodel.predict(x_test)

mae = round(mean_absolute_error(y_test,predicted_val),2)
mae

0.05

In [23]:
#question14
#RSS
rss = np.sum(np.square(y_test - predicted_val))
round(rss, 2)

45.35

In [24]:
#question15
#RMSE
rsme = np.sqrt(mean_squared_error(y_test, predicted_val))
round(rsme,3)

0.088

In [25]:
#question16
#R2 score
r2_score =r2_score(y_test, predicted_val)
round(r2_score,2)

0.15

In [27]:
#question17
def get_weights_dataset(linearmodel, feat, col_name):
  #this function returns the weight of every feature
  weights = pd.Series(linearmodel.coef_, feat.columns).sort_values()
  weights_dataset = pd.DataFrame(weights).reset_index()
  weights_dataset.columns = ['Features', col_name]
  weights_dataset[col_name].round(3)
  return weights_dataset

# Execute the get_weight function and store in dataframe
linear_weights_dataset = get_weights_dataset(linearmodel, x_train, 'Linear_weight')

linear_weights_dataset

       Features  Linear_weight
0          RH_2      -0.456698
1         T_out      -0.321860
2            T2      -0.236178
3            T9      -0.189941
4          RH_8      -0.157595
5        RH_out      -0.077671
6          RH_7      -0.044614
7          RH_9      -0.039800
8            T5      -0.015657
9            T1      -0.003281
10          rv1       0.000770
11          rv2       0.000770
12  Press_mm_hg       0.006839
13           T7       0.010319
14   Visibility       0.012307
15         RH_5       0.016006
16         RH_4       0.026386
17           T4       0.028981
18    Windspeed       0.029183
19         RH_6       0.038049
20         RH_3       0.096048
21           T8       0.101995
22    Tdewpoint       0.117758
23           T6       0.236425
24           T3       0.290627
25         RH_1       0.553547

In [28]:
# question 18
#ridge regression
ridge_Reg = Ridge(alpha=0.04)
ridge_Reg.fit(x_train, y_train)
ridge_pred = ridge_Reg.predict(x_test)
ridge_rmse = np.sqrt(mean_squared_error(y_test, ridge_pred))
round(ridge_rmse, 3)

0.088

In [32]:
#question 19
lasso = Lasso(alpha=0.001)
lasso.fit(x_train,y_train)
lasso_predicted_values= lasso.predict(x_test)

lasso_getweight_dataset =get_weights_dataset(lasso,x_train,'Lasso_weight')
non_zero_weight= lasso_getweight_dataset[lasso_getweight_dataset['Lasso_weight']!=0]

non_zero_weight

     Features  Lasso_weight
0      RH_out     -0.049557
1        RH_8     -0.000110
24  Windspeed      0.002912
25       RH_1      0.017880

In [33]:
#question20

#rsme with lasso
rsme_lasso =round(np.sqrt(mean_squared_error(y_test, lasso_predicted_values)), 3)
rsme_lasso

0.094